body
{
    background-color:#E9E9E9;
    padding: 20px;
}
.dogs-app {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column;
}

.main-title,
.dog-image-container {
    align-self: center;
    margin-bottom:20px;
}

.fixed-table {
    max-width: 720px;
    box-shadow: 15px -15px 20px #aaaaaa;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:50px;
}

.fixed-table tr:nth-child(even) {
    background-color: violet;
}

.fixed-table tr:nth-child(odd) {
    background-color: #ffe4e1;
}